kiwiDB.db
non-working/
themes/
Alpha.db
aaa-update-billQdialog.bat
.texbuild/
SumatraPDF/
img/
sumatrapdfcache/
test/
previous-versions/Alpha-0.1.1.py
compiled_resources.pyc
previous-versions/kiwi_UI - Copy.ui
previous-versions/kiwi_UI.ui
.gitattributes *.png
resources/icons/Add User Male Filled.png
resources/icons/Add User Male.png
resources/icons/Cancel Filled.png
resources/icons/*.png
previous-versions/kiwi_UI_i.ui
*.docx
treeselector_.pyc
README-test.md
done.txt
icons.py
icons_rc.py
icons_rc.pyc
readme_task_organiser.py
treeView_test_widget.py
treeselector.ui
New Text Document.txt
resources/compile_Icons.bat
treeviewmodel.py
treeviewmodel.pyc
tree-tuto.py
Alpha.txt
gdrive.py
storage.json
closure_table_test.py
file_list_timestamped.json
my_database.db
resources/closure/
testdbclosure.db
